.App {
  width: 50%;
  height: 50vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  margin: 0px auto;
  border: 2px solid #F26E3F;
  border-radius: 2rem;
}

.App_info {
  /* background-color: aquamarine; */
  flex: 1;
  font-size: 1.3rem;
  color: #F26E3F;
}

.App_animation {
  /* background-color: burlywood; */
  flex: 1.5;
  display: grid;
  place-items: center;
  /* display: flex;
  justify-content: flex-start; */
}

.App_animation iframe {
  border: none;
  width: 24rem;
  height: 24rem;
}
